/*#############################################################
Name: Dark Ritual
Date: 2006-11-06
Description: Tribal-style three column layout.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
	margin: 0;
	padding: 0;
}

a {color: #2d73b3;}

a:hover {color: #6690aa;}

body {
	background: url(/images/pattern_062.gif);
	color: #333;
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
	margin: 3% 0;
}

p,ul {
	padding-bottom: 1em;
}

ul {margin-left: 1.2em;}

li {list-style: none;}
.main li {list-style-image: url(/images/li.gif);}

.main_right h1 {font-size: 1.2em;}

blockquote {
	background: #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	color: #333;
	display: block;
	font-size: 0.9em;
	margin-bottom: 1.2em;
	padding: 6px 12px;
}
blockquote p {padding: 3px 0;}

h1,h2,h3 {color: #5fc6e9;}

.main h1 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 12px;
}

.main h2 {
  margin-top: 15px;
  margin-bottom: 8px;
}

.main h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* misc */
.clearer {clear: both;}
.main_right .padded {padding: 6px 2px 6px 16px;}
.main .padded {padding: 18px 24px;}
.meta {font-size: 0.8em; color: #666;}
.left {float: left;}
.right {float: right;}

/* structure */
.container {
	font-size: 1.2em;
	background: url(/images/bgcontainer.gif) repeat-y;
	margin: 0 auto;
	width: 840px;
	border: 12px solid #222;
}

pre {
  font-family: Monaco, monospace;
  font-size: 13px;
  border: 1px dotted #ddd;
  background-color: #eee;
  padding: 4px 4px 4px 10px;
  margin: 0 5px 10px 10px;
}

/* header */
#header {
	float: left;
	width: 639px;
	background: url(/images/header.jpg) no-repeat;
	font: normal 2.4em Verdana,sans-serif;
	line-height: 150px;
	text-align: center;	
}

#header h1 {
  height: 150px;
  width: 640px;
}

#header h1 a {
  display: none;
}

/* structure */
.top {
	background: #222;
	color: #DDD;
	float: left;
	font: normal 1.4em Verdana;
	height: 50px;
	text-align: center;
	width: 639px;
}
.subnav {
	float: left;
	width: 160px;
}
.main {
	float: left;
	width: 480px;
}
.main_right {
	float: right;
	width: 200px;
	color: #CCC;
}

/* sub-navigation */
.subnav h1 {
	background: #222;
	color: #63c2e9;
	font: bold 1.1em Verdana,sans-serif;
	line-height: 24px;
	padding-left: 8px;
}
.subnav ul {margin: 0; padding: 0;}
.subnav li {
	border-bottom: 1px solid #696755;
	list-style: none;
}
.subnav li a {
	background: #eee;	
	color: #111;
	display: block;
	padding: 8px 0 8px 12px;
	width: 148px;
	text-decoration: none;
}
.subnav li a:hover {
	background: black;
	color: #5fc6e9;
}

/* footer */
.footer {
	background: url(/images/bgfooter.gif) repeat-x;
	color: #CCC;
	font-size: 0.9em;
	line-height: 39px;
	width: 100%;
	text-align: center;
}
.footer .left,.footer .right {padding: 0 16px;}
.footer a {color: #EEE;}
.footer a:hover {color: #FAFCB0;}