body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  margin: 12px 0 0 0;
}

textarea{
  width:100%;
}

#content {
  margin: 0 auto 50px auto;
  width: 500px;
  font-family: Helvetica;
}

p.new-link .ui-icon {
  float: left;
  margin-left: -8px;
  margin-right: 2px;
  margin-top: 0;
  top: 50%;
}

.ui-icon {
  width: 16px;
  height: 16px;
}

ul.sortable {
  border: 2px dotted #E5E5E5;
  margin: 0;
  padding: 2px;
}

ul.sortable li {
  background-color: #EBEBEB;
  padding: 4px;
  margin: 2px;
  list-style: none;
  clear: both;
}

ul.sortable li p {
  width: 300px;
  margin: 0 30px 0 20px;
}

.ui-icon-arrowthick-2-n-s {
  float: left;
}

.ui-icon-pencil, .ui-icon-trash {
  float: right;
}

.info-box {
  padding: 0 4px;
  margin: 6px;
}

.info-box p {
  margin: 5px;
}

.info-box .ui-icon {
  float: left;
  margin-right: 0.3em;
}

.content-container {
  border-top: 3px dotted #E4E4E4;
  border-bottom: 3px dotted #E4E4E4;
}

div.grippie {
  background:#EEEEEE url(/images/grippie.png) no-repeat scroll center 2px;
  border-color:#DDDDDD;
  border-style:solid;
  border-width:0pt 1px 1px;
  cursor:s-resize;
  height:9px;
  overflow:hidden;
}
.resizable-textarea textarea {
  display:block;
  margin-bottom: 0pt;
}