* {
	margin: 0;
	padding: 0;
}

a {color: #2d73b3;}

a:hover {color: #6690aa;}

body {
	background: url(/images/pattern_062.gif);
	color: #333;
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
	margin: 3% 0;
}

p,ul {
	padding-bottom: 14px;
}

ul {margin-left: 1.2em;}

li {
  list-style: none;
}

div.padded li {
  padding: 3px 0;
}
.main li {list-style-image: url(/images/li.gif);}

.main_right h1 {font-size: 1.2em;}

blockquote {
	background: #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	color: #333;
	display: block;
	font-size: 0.9em;
	margin-bottom: 1.2em;
	padding: 6px 12px;
}
blockquote p {padding: 3px 0;}

h1,h2,h3 {color: #5fc6e9;}

.main h1 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 12px;
}

.main h2 {
  margin-top: 15px;
  margin-bottom: 8px;
}

.main h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* misc */
.clearer {clear: both;}
.main_right .padded {padding: 6px 2px 6px 16px;}
.main .padded {padding: 0 24px 18px 24px; }
.meta {font-size: 0.8em; color: #666;}
.left {float: left;}
.right {float: right;}

/* structure */
.container {
	font-size: 1.3em;
	background: url(/images/bgcontainer.gif) repeat-y;
	margin: 0 auto;
	width: 840px;
	border: 12px solid #222;
}

pre, kbd {
  font-family: Monaco, monospace;
}

kbd {
  font-size: 90%;
}

pre {
  font-size: 12px;
  border: 1px dotted #ddd;
  background-color: #eee;
  padding: 4px 4px 4px 10px;
  margin: 0 5px 10px 10px;
}

/* header */
#header {
	float: left;
	width: 639px;
	background: url(/images/header.jpg) no-repeat;
	font: normal 2.4em Verdana,sans-serif;
	line-height: 150px;
	text-align: center;	
}

#header h1 {
  height: 150px;
  width: 640px;
}

#header h1 a {
  display: none;
}

/* structure */
.top {
	background: #222;
	color: #DDD;
	float: left;
	font: normal 1.4em Verdana;
	height: 50px;
	text-align: center;
	width: 639px;
}
.subnav {
	float: left;
	width: 160px;
}
.main {
	float: left;
	width: 480px;
}
.main_right {
	float: right;
	width: 200px;
	color: #CCC;
}

/* sub-navigation */
.subnav h1 {
	background: #222;
	color: #63c2e9;
	font: bold 1.1em Verdana,sans-serif;
	line-height: 24px;
	padding-left: 8px;
}
.subnav ul {margin: 0; padding: 0;}
.subnav li {
	border-bottom: 1px solid #696755;
	list-style: none;
}
.subnav li a {
	background: #eee;	
	color: #111;
	display: block;
	padding: 8px 0 8px 12px;
	width: 148px;
	text-decoration: none;
}
.subnav li a:hover {
	background: white;
}

/* footer */
.footer {
	background: url(/images/bgfooter.gif) repeat-x;
	color: #CCC;
	font-size: 0.9em;
	line-height: 39px;
	width: 100%;
	text-align: center;
}
.footer .left,.footer .right {padding: 0 16px;}
.footer a {color: #EEE;}
.footer a:hover {color: #FAFCB0;}


#sandbox-registration {
  width: 210px;
  float: right;
  margin: 5px;
  font-weight: normal;
}

#sandbox-registration h2 {
  margin-top: 0;
  padding: 4px 0;
  text-align: center;
  margin: 2px;
}

#sandbox-registration div {
  padding: 10px;
}

#sandbox-registration .bad-input {
  background-color: red;
}

#sandbox-registration input[type=text], #sandbox-registration input[type=password], #sandbox-registration input[type=submit] {
  /*  font-size: 18px;*/
  width: 184px;
}

.info-box {
  padding: 0 4px;
  margin: 10px 0;
}

.info-box p {
  margin: 5px;
  padding: 0;
  font-size: 16px;
}

.info-box .ui-icon {
  float: left;
  margin-right: 0.3em;
}

#sandbox-registration p#hide-sandbox-registration {
  text-align: center;
}

#sandbox-registration p#hide-sandbox-registration a {
  background-color: white;
  display: block;
  margin: 0 auto;
  padding: 7px;
}

/*

#sandbox-registration h2 { 
  margin: -15px -15px 8px -15px;
  border-bottom: #2089b3 6px double;
  border-top: 3px solid #2089b3;
  border-right: 3px solid #2089b3;
  border-left: 3px solid #2089b3;
  padding: 10px 0 10px 0;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 23px;
}
*/

h3.installation-instruction-toggler {
	display: block;
	padding: 6px 0 6px 30px;
	/*
	background-color: #eee;
	padding: 6px;
	border-left: 4px solid #eaeaea;
	*/
}

div.installation-instructions {
	display: none;
	/*
	padding: 10px 10px 0 10px;
	border-left: 4px #eaeaea solid;
	*/
}

h3.installation-instruction-toggler:hover {
  /*
	background-color: #eaeaea;
	
	color: black;
	border-left: 4px solid black;
	*/
}

#homepage-news {
  margin-left: 0;
}

#homepage-news div {
  margin: 0;
}
#homepage-news div p {
  margin: 0;
  padding: 0;
}
#homepage-news div a {
  display: block;
  padding: 10px 6px;
  text-decoration: none;
}

#homepage-news div a span.title {
  font-size: 15px;
  letter-spacing: -0.5px;
  font-weight: bold;
}
#homepage-news div a span.homepage-news-date {
  
}
#homepage-news div a:hover {
  background-color: black;
  color: white;
}

h3.example-name {
  margin-bottom: 0;
}

div.example div.ui-accordion-content {
  font-family: "Lucida Sans Unicode",sans-serif;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 5px;
}

div.example div.content-html {
}

div#login-dialog {
  display: none;
}