<img src="/images/consulting-blurb.gif" alt="We improve the way you communicate" style="margin-top: -25px"/>

<p>The Adhearsion team offers consulting services for two classes of business needs:

<ul>
  <li>Companies wanting custom, integrated, and effective communication solutions.</li>
  <li>New telephony-based tech startups</li>
</ul>

<p>The communication technology industry is rapidly evolving and it's our job to stay on top of it. Using our expertise will help you develop the most effective solution for your specific business needs. Communication technologies work best when they're <strong>integrated</strong> and Adhearsion has made unprecedented strides to make this possible.</p>
  
<h3>If you have an existing system, we'll add the difficult telephony components to it. If you want a complete overhaul of your business technologies, we'll work with you to tailor a system with the right balance of simplicity and features.</h3>

<h2>Learn more</h2>

<p>Schedule a free call with us! We'll talk about the problems you're having and ways we might be able to help.</p>

<h2>Are you a telephony-related startup?</h2>

<h2>Methodology</h2>

<p>The Adhearsion methodology leverages Agile Development and Test Driven Development principals to provide short implementation cycles with maximum customer input at every stage. This allows us to rapidly prototype solutions from the start that are then used as the basis of the solution with regular customer reviews throughout the process. This allows us to deliver projects in days and weeks as opposed to months and years, while delivering exactly what the customer wants and needs.</p>

<h2>How we can help you</h2>

<p>In addition to our expertise in the Adhearsion framework, we provide a broad set of services to our customers that includes: 

<ul>
  <li>QuickStart — 2 week program focused on knowledge transfer and rapid demonstration of value of using Adhearsion and telephony systems</li>
  <li>Feasibility assessment — assess the suitability of Adhearsion and telephony systems against business and technical requirements (including POC when needed)</li>
  <li>Architecture and Design Review — validate design against technical requirements and best practices, with recommendations for architecture and performance enhancements</li>
  <li>Code Audits & Reviews - Review existing systems</li>
  <li>Complete implementation — streamline and integrate systems and business processes</li>
  <li>Integration tune-up — tune and scale Adhearsion and telephony implementations</li>
  <li>Business Consulting - How and when to leverage open source for your business needs</li>
  <li>Training</li>
</ul>

<h2>Skill Set</h2>

Our knowledge is across a hard to find spectrum of skill sets that includes:

<ul>
  <li>Telephony Systems</li>
   <ul>
    <li>Voice Over IP - SIP/IAX2/H323/Jingle</li>
    <li>Full TDM interconnection expertise</li>
    <li>Asterisk Freeswitch and Yate</li>
    <li>Avaya, Nortel, Genesys and others</li>
   </ul>
  <li>Programming Language</li>
   <ul>
    <li>Ruby</li>
    <li>Erlang</li>
    <li>Java</li>
    <li>Javascript</li>
    <li>Objective-C/Cocoa</li>
   </ul>
  <li>Web Development</li>
   <ul>
    <li>Ruby on Rails</li>
    <li>JQuery</li>
    <li>Web Services - RPC, REST, SOAP, etc</li>
   </ul>
  <li>iPhone Development</li>
</ul>

<h2>We Could Go On…</h2>
<p>Every situation is unique. We do not offer one size fits all engagements. Therefore we are as agile as our methodology and may craft a plan that suites our customer's specific needs. So contact us and we may get started.</p>

<h2>Contact</h2>
<p>For more information please email <a href="mailto:jason@adhearsion.com">jason@adhearsion.com</a> or call +1.415.704.4517.</p>