<h1>The Team</h1>

<h2>Jay Phillips</h2>

<img src="images/jay_phillips.jpg" alt="Jay Phillips"/>

<p>Jay is the Adhearsion project manager, visionary, and lead developer. He enjoys solo skydiving, traveling, reading books and, of course, programming.</p>

<ul>
  <li>AIM: Jicksta</li>
  <li>Skype: Jicksta</li>
  <li>Email &amp; Jabber: jay, at, adhearsion.com</li>
  <li>Blog: <a href="http://jicksta.com">http://jicksta.com</a></li>
  <li>Twitter: <a href="http://twitter.com/jicksta">@jicksta</a></li>
  <li>Github Account: <a href="http://twitter.com/jicksta">Jicksta</a></li>
</ul>

<h2>Jason Goecke</h2>

<img src="images/jason_goecke.jpg" alt="Jason Goecke"/>

<ul>
  <li>AIM: jsgoecke</li>
  <li>Skype: jsgoecke</li>
  <li>Email &amp; Jabber: jason, at, adhearsion.com</li>
  <li>Twitter: <a href="http://twitter.com/jsgoecke">jsgoecke</a></li>
</ul>

<p>Jason is the operationalizer, organizer, co-pilot, and co-evangelist of Adhearsion. He brings a lot of experience in the telecom industry. He'll put a better description here soon. He enjoys sailing and listening to loud Amish techno (at the same time).
  
