<h1>The Team</h1>

<h2>Jay Phillips</h2>

<img src="images/jay_phillips.jpg" alt="Jay Phillips"/>

<p>Jay is the Adhearsion project manager, visionary, and lead developer. He enjoys solo skydiving, traveling, reading books and, of course, programming.</p>

<ul>
  <li>AIM: Jicksta</li>
  <li>Skype: Jicksta</li>
  <li>Email &amp; Jabber: jay, at, adhearsion.com</li>
  <li>Blog: <a href="http://jicksta.com">http://jicksta.com</a></li>
  <li>Twitter: <a href="http://twitter.com/jicksta">@jicksta</a></li>
  <li>Github Account: <a href="http://github.com/jicksta">Jicksta</a></li>
</ul>

<h2>Jason Goecke</h2>

<img src="images/jason_goecke.jpg" alt="Jason Goecke"/>

<ul>
  <li>AIM: jsgoecke</li>
  <li>Skype: jsgoecke</li>
  <li>Gtalk: jsgoecke</li>
  <li>Email &amp; Jabber: jason, at, adhearsion.com</li>
  <li>Blog: <a href="http://blog.goecke.net">http://blog.goecke.net</a></li>
  <li>Twitter: <a href="http://twitter.com/jsgoecke">@jsgoecke</a></li>
  <li>Github Account: <a href="http://github.com/jsgoecke">Jsgoecke</a></li>
</ul>

<p>Jason is the operationalizer, organizer, co-pilot, co-evangelist and lead business developer of Adhearsion. He brings extensive experience in telecoms and enterprise call centers having been an original employee of the leading <a href="http://en.wikipedia.org/wiki/Computer_telephony_integration">CTI</a> company, <a href="http://www.genesyslab.com">Genesys</a>, where he is an inventor on 10 patents. He enjoys his family, sailing and of course all that is technology.
  
