<h1>Contributing to Adhearsion</h1>

<p>Read Jay Phillips' <a href="http://jicksta.com/posts/adhearsion-is-now-on-github">blog post</a> announcing the move to Github.</p>

<p>This screencast was recorded to show how easy it is to contribute patches to Adhearsion using Github.com</p>

<embed width="430" height="289" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://blip.tv/play/AczTKY7jVg" /> 

<p>If you'd like to view commits to Adhearsion interactively, check out the Github project's <a href="http://github.com/jicksta/adhearsion/network">Network Viewer</a>.