<h1>Getting Started</h1>

<p>Because Adhearsion is a framework for writing telephony application, it depends on a bit of lower-level plumbing to get running. This is generally quite easy to set up but it does take a lot of time and requires the developer to jump through unnecessary hoops at the outset.</p>

<p>To help people jump straight to using Adhearsion, we've set up a public, <strong>completely free</strong> sandbox environment. You'll need only 