<h1>Getting Started</h1>

<p>Because Adhearsion is a framework for writing telephony application, it depends on a bit of lower-level plumbing to get running. This is generally quite easy to set up but it does take a lot of time and requires the developer to jump through unnecessary hoops at the outset.</p>

<p>To help people jump straight to using Adhearsion, we've set up a public, <strong>completely free</strong> sandbox environment. You'll need only</p>

<%= render :partial => "sandbox_registration" %>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in metus. In metus quam, dictum in, rutrum a, elementum et, mi. Nulla venenatis mauris eu eros. Cras in mi vitae orci cursus molestie. Sed tellus nunc, elementum a, commodo eu, dictum in, neque. Curabitur eget quam vel ante vestibulum consectetur. Quisque suscipit. Maecenas convallis erat id felis. Quisque eu urna nec lectus ultrices imperdiet. Nunc sagittis libero eu dolor. Nulla facilisi. Quisque vel pede sit amet dui egestas feugiat. Morbi velit enim, semper eget, dictum vitae, dapibus nec, mi. Aliquam sed orci. Ut purus dolor, dapibus et, pretium vitae, tristique et, lectus. Duis ut dui. Proin vel enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris a nisl. Pellentesque libero tellus, ornare vitae, fermentum vel, porttitor ut, erat.</p>

<p>Donec consectetur turpis sed orci. Curabitur eros quam, dapibus id, porttitor in, gravida in, est. Nam quis purus. Mauris gravida, dui quis vulputate egestas, diam tortor iaculis tortor, sed volutpat dui leo sed eros. Mauris quam nulla, gravida non, tincidunt pulvinar, malesuada sit amet, orci. Duis non leo ac sapien pharetra varius. Aenean mollis felis in orci. Fusce fringilla tincidunt magna. Vestibulum hendrerit dapibus velit. Aenean vitae nisi. Vestibulum non erat. Sed sed nisi et pede faucibus interdum. Mauris ultrices libero id massa. Maecenas ipsum. Pellentesque tristique neque sed lacus. Proin in justo.</p>