<% for post in @blog_posts %>
<div class="blog_post">
  <h1><a href="<%= post[:url] %>"><%= post[:title] %></a></h1>
  <p class="meta"><%= post[:date].strftime("%B %d, %Y") %></p>
  <%= post[:content] %>
</div>
<% end %>
