<script type="text/javascript" src="http://shots.snap.com/ss/080d82579e5becba7355195b27c73010/snap_shots.js"></script>

<div id="homepage-intro">
  <h1>Welcome to Adhearsion.com!</h1>
  <p>This site has recently received a complete overhaul! Take a look around!</p>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".homepage-news-date").timeago();
    /*
    setInterval(function() {
      $(".homepage-news-date").humane_dates();
    }, 5000);*/
  });
</script>
<h1>Community News Feed <a href="http://feeds.feedburner.com/adhearsion" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="Subscribe to this blog" style="border:0"/></a></h1>

<div id="homepage-news">
<% for post in @blog_posts %>
  <div class="blog-post">
    <p><a href="<%= post[:url] %>"><span class="title"><%= h post[:title] %></span> <span class="homepage-news-date"><%= post[:date].strftime('%Y-%m-%d %H:%M:%S') %></span></a></p>
  </div>
<% end %>
</div>