<p>More screencasts coming soon!</p>

<h2>Contributing to Adhearsion</h2>

<p>This screencast by Jay Phillips shows how he manages the Adhearsion source base with <a href="http://git-scm.com">git</a> and <a href="http://github.com">Github</a>, and how easy it is for anyone to contribute to Adhearsion (and receive indefinite credit for their contribution).</p>
  
<embed width="430" height="289" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://blip.tv/play/AczTKY7jVg" /> 

<h2>Installing Adhearsion</h2>

<p>This screencast by community member Justin Grammens shows how to install Adhearsion.</p>

<embed width="430" height="287" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://blip.tv/play/Ac79CI7jVg" />

<h2>Installing Asterisk</h2>

<p>This screencast by community member Justin Grammens shows how to install Asterisk.</p>

<embed width="430" height="287" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://blip.tv/play/Ac78d47jVg" />

<h2>Installing Ruby & Adhearsion on AsteriskNOW</h2>

<p>This screencast by Jason Goecke shows how to install Ruby & Adhearsion on the <a href="http://www.asterisknow.org">AsteriskNOW</a> soft appliance.</p>

<embed width="430" height="287" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://blip.tv/file/1632679" />

<h2>Adhearsion Hello World</h2>

<p>This screencast by Jason Goecke shows how to write your first 'Hello World' dialplan.</p>

<embed width="430" height="287" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://blip.tv/file/1635843" />