<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
  
  <title>Adhearsion.com Site Administration: <%= @title %></title>
  
  <%= stylesheet_link_tag "theme/ui.all", "admin" %>
  <link rel="shortcut icon" href="/favicon.ico" />
  
  <%= javascript_include_tag "jquery-1.3.1", "jquery-ui-personalized-1.6rc6.min" %>
  
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="description"/>
  <meta name="keywords" content="keywords"/> 
  <meta name="author" content="author"/> 
  
</head><body>
  <h1>Admin tool</h1>

  <div id="content">
    <%= yield %>
  </div>
  
</body></html>