<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
  
  <title>Adhearsion: <%= @title %></title>
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/default.css" media="screen"/>
  
  <%= javascript_include_tag "jquery", "jquery.form" %>
  
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="description"/>
  <meta name="keywords" content="keywords"/> 
  <meta name="author" content="author"/> 
  <link rel="shortcut icon" href="/favicon.ico" />
</head><body>

<div class="container">

	<div id="header">
	  <h1><a href="/">Adhearsion</a></h1>
	</div>

	<div class="main_right">

		<div class="padded">
			
			<h1>Adhearsion is...</h1>
			<p>Adhearsion is a new way to write voice-enabled applications. It's not just an API or library &mdash; it's a <strong>fully-featured framework</strong>, the first of its kind, designed for maximal code reuse and intuitiveness. The name "Adhearsion" is a combination of "adhesion" and "hear" because Adhearsion shines best when integrating technologies with voice.</p>

			<h1>It's modern</h1>
			<p>Adhearsion uses the high-level <a href="http://ruby-lang.org">Ruby programming language</a> and has a comprehensive regression test suite. In the age of the social web, what other technologies are more social than voice? Adhearsion aims to help merge this so-called "Web 2.0" world with the previously untamable telephony world.</p>
			
			<h1>It's intuitive</h1>
			<p>Voice applications don't have to be hard. Adhearsion abstracts much of the complicated telephony domain, allowing you to focus on what's really important: the <em>business</em> domain. Take a look at the <a href="/examples">Examples</a> to see what we mean.</p>
      
			<h1>It's open-source</h1>
			<p>We take open-source software seriously. The telecom industry, above all, needs fresh innovative talent and Adhearsion's here to foster it. This is one of the final major frontiers for open-source to truly make a transformative impact and now is an exciting time to be a part of it.</p>
      
			<h1>We think it's fun</h1>
			<p>Many hackers' faces light up the first time they run code which makes the cell phone in their pocket ring. Whether you're a veteran telephony engineer or a web developer wanting a new experiment to do over a weekend, Adhearsion....</p> 
      
		</div>

	</div>

	<div class="subnav">

		<h1>Information</h1>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/download">Download</a></li>
			<li><a href="http://docs.adhearsion.com">Documentation</a></li>
			<li><a href="http://api.adhearsion.com">API Reference</a></li>
			<li><a href="/getting_started">Getting Started</a></li>
			<li><a href="/screencasts">Screencasts</a></li>
			<!-- <li><a href="/architecture">Architectural Overview</a></li> -->
			<li><a href="/examples">Examples</a></li>
			<!-- <li><a href="/business_case">The Business Case</a></li> -->
			<li><a href="/roadmap">Roadmap</a></li>
			<li><a href="/consulting">Consulting</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/contributing">Contributing</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>

    <!--
		<h1>Getting Started</h1>
		<ul>
			<li><a href="/getting_started/rails_developers">For Rails developers</a></li>
			<li><a href="/getting_started/asterisk_hackers">For Asterisk hackers</a></li>
			<li><a href="/getting_started/other_developers">For other developers</a></li>
			<li><a href="/getting_started/system_administrators">For sysadmins</a></li>
		</ul>
    -->
  
		<h1>Community</h1>
		<ul>
			<li><a href="http://jicksta.com">Jay Phillips' Blog</a></li>
			<li><a href="http://github.com/jicksta/adhearsion">Adhearsion @ Github</a></li>
			<li><a href="http://adhearsion.lighthouseapp.com">Bug Tracker</a></li>
			<li><a href="/irc">IRC Chatroom</a></li>
			<li><a href="http://groups.google.com/group/adhearsion">Mailing List &amp; Forum</a></li>
		</ul>

	</div>
		
	<div class="main">
    <div class="padded">
      <%= yield %>
    </div>
	</div>
	
	<div class="clearer"><span></span></div>

	<div class="footer">
		
		
		<span class="left"><a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/us/80x15.png" /></a> All content on this site is licensed under the Creative Commons Attribution 3.0 United States License</span>
		
		<span class="right">Thanks to <a href="http://templates.arcsin.se">Arcsin</a></span>
		
		<div class="clearer"><span></span></div>

	</div>

</div>

</body>

</html>
